.reset {
  transform-box: fill-box;
}

.float {
  animation: float 6s ease-in-out infinite;
}

.scale {
  animation: scaleDown 3s ease-in-out infinite;
}

.rotate {
  animation: rotate 22s linear infinite;
}

.rotate-reverse {
  animation: rotateReverse 16s linear infinite;
}

.rotate-reverse-2 {
  animation: rotateReverse 16s linear infinite;
}

.rotate-reverse-3 {
  animation: rotateReverse 20s linear infinite;
}

.scaled {
  transform-box: fill-box;
  transform-origin: center;
  animation: scaleLoop 10s ease-in-out infinite;
  /* transform: scale(.85); */
}

@keyframes float {
  0% {
    transform: translateY(-1px) rotate(3deg);
  }
  50% {
    transform: translateY(-1px) rotate(-3deg);
  }
  100% {
    transform: translateY(-1px) rotate(3deg);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleLoop {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.6);
  }
  90% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateReverse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.look-around {
  animation: lookAround 8s
    linear(
      0,
      0.0017,
      0.0068 1.15%,
      0.0152 1.75%,
      0.027 2.36%,
      0.0421 3%,
      0.0612 3.68%,
      0.1108 5.13%,
      0.159 6.35%,
      0.22 7.74%,
      0.4775 13.2%,
      0.5912 15.75%,
      0.6473 17.11%,
      0.6982 18.42%,
      0.7446 19.71%,
      0.7866 20.99%,
      0.8255,
      0.8606 23.57%,
      0.8924,
      0.9206 26.2%,
      0.9458 27.56%,
      0.9678 28.93%,
      0.987 30.35%,
      1.0032 31.81%,
      1.0224 34.11%,
      1.0359 36.59%,
      1.0436 39.28%,
      1.046 42.3%,
      1.0446 44.66%,
      1.0407 47.44%,
      1.0118 61.83%,
      1.0026 69.55%,
      0.9981 80.52%,
      0.9991 99.99%
    )
    infinite;
}

@keyframes lookAround {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(10%, -5%, 0) scale(0.9);
  }
  40% {
    transform: translate3d(-5%, -5%, 0);
  }
  60% {
    transform: translate3d(-10%, 18%, 0) scale(1.1);
  }
  80% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
